:root{
    /* variables de colores de la pagina */
    --toggle-color: #78788c;
    --text-color: #d6d6e6;
    --hover-color: #272832;
    --accent-color: #0071ff;
    
    --blue60-color: #031926;
    --blue30-color: #9dbebb;
    --blue10-color: #468189;

    /* animaciones de transicion */
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;
    --header-height: 5vh;
    --section--height: 90vh;
}

/* ######################### Estilos para pantallas de PC y Notebook #############################*/

*{
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: poppins, "Segoe UI", sans-serif;
    color: var(--text-color);
    
}

body{
    min-height: 100vh;
    min-height: 100dvh;
}

#titulo{
    width: 100%;
    background-color: var(--blue60-color);
    color: var(--sidebar-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav{
    border-bottom: 1px solid var(--hover-color);
    background-color: var(--blue60-color);
    /*anclar menu a la parte superior*/
    position: sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, alp0.3ha);
    border-bottom: 1px solid var(--hover-color);
}

/* quitando vinietas y alineando horizontalmente */
nav ul{
    list-style: none;
    display: flex;
    padding: 0%;
}

nav li{
    display: flex;
}

nav .home-li{
    margin-right: auto;
}

nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 2em;
    transition: background-color 150ms ease;
}

nav a:hover{
    background-color: var(--hover-color);
}

/* elemento de la lista subrayado */
nav a.active-link{
    border-bottom: 2px solid var(--text-color);
}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
    background-color: var(--blue60-color);
    /*anclar el boton de menu a la parte superior*/
    position: sticky;
    top: 0;
    z-index: 9;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 0 2px 6px rgba(0, 0, 0, alp0.3ha);
    border-bottom: 1px solid var(--hover-color);
}

#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding:  1em;
    cursor: pointer;
}

#open-sidebar-button img, #close-sidebar-button img{
    max-width: 100%;
    height: auto;
}

section{
    width: 100%;
    /*padding: min(5em, 7%);*/
}

article{
    width: 98%;
    margin: 1%;
    background-color: var(--blue10-color);
    border-radius: 20px;
}

article h3{
    text-align: center;
}

article p{
    margin-top: .35em;
    padding: 1em;
}

/* capa que bloqueara el contenido debajo del menu */
#overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

/*########################## estilos para pantallas inferiores a 700 px #####################*/

@media screen and (max-width: 700px){
    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }

    nav{
        position: fixed;
        top: 0; /* ubicar el menuarriba a la derecha */
        right: -100%;
        height: 100vh; /* ocupa todo el alto de la pantalla */
        width: min(15em, 100%); /* limitando el ancho */
        z-index: 10;
        border-left: 1px solid var(--hover-color);
        /*transicion al mostrar/ocultar*/
        transition: right 300ms ease-out;
    }

    /*aplicar esta clase al nav para mostrar menu vertical*/
    nav.show{
        right: 0;
    }

    /* activar la capa bloqueadora */
    nav.show ~ #overlay{
        display: block;
    }

    nav ul{
        width: 100%; /* cda elemento de la lista ocupa todo el ancho del contenedor*/
        flex-direction: column; /* elementos mostrados uno debajo del otro*/
    }

    nav a{
        width: 100%;
        padding-left: 2.5em;
    }

    nav a.active-link{
        border-bottom: none;
    }
}